<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<article id="content">	
	
		<form method="POST" action="cadastro.php" enctype="multipart/form-data">
				<center>
					<legend>Novo Post</legend>
					<br>
					Favor usar # para demarcar uma tag
					<br><br>
					Titulo
					<br>
					<textarea rows="1" cols="75"  name="titulo"></textarea>
					
					<br><br>
					Post
					<br>
					<textarea rows="25" cols="75"  name="post"></textarea>
			
					<br><br>
					Tags
					<br>
					<textarea rows="1" cols="75"  name="tags"></textarea>
					<br>
					<button type="submit">Submeter</button>
				</center>	
		</form>
	</article>
</body>
</html>